html{
	margin: 0px;
	padding: 0px;
	border: 0px;
	left: 0px;
	top: 0px;
}
/* Sticky header styles */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* Side menu styles */
.side-menu {
    position: fixed;
    top: -10;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 10;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 10px 20px;
}

.side-menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* Content area styles */
.content {
    padding: 20px;
}

/* Menu toggle button styles */
.menu-toggle {
    cursor: pointer;
    font-size: 24px;
}

.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/* Style the text overlay */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
}
.hero_h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero_p {
    font-size: 18px;
}



body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* To prevent horizontal scrollbar */
}

h1{
	border-style: none;
}

button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.altColor {
	background-color: red;
}

.header{
	color: aqua;
}

.second_img{
    width: 100%;
	height: 150px; 
	object-fit: cover;
	object-position: 25% 40%; 
}