html{
	margin: 0px;
	padding: 0px;
	border: 0px;
	left: 0px;
	top: 0px;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* To prevent horizontal scrollbar */
}


h1{
    color: rgb(92, 78, 102);
    text-align: center;
    font-size : 32px;
    font-weight: 900;
    font-family: 'League Spartan', arial, helvetica, sans-serif;
}

h4{
    text-align: center;
    margin-bottom: 0px;
    color: rgb(27, 27, 27);
    width: inherit;
    line-height: 1.25;
    font-weight: 400;
    font-size: 22px;
    word-wrap: break-word;
    font-family: Helvetica, arial, sans-serif;
    letter-spacing: normal;
}

/* Sticky header styles */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header{
	color:white;
    background-color: transparent;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    word-wrap: break-word;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    display: inline-block;
    overflow-wrap: break-word;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform : none;
    letter-spacing: normal;

}

/* Menu toggle button styles */
.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    position: fixed; /* Add this line */
    right: 10px;    /* Add this line to position it to the right */
    top: 10px;      /* Add this line for vertical positioning */
}
/* Side menu styles */
.side-menu {
    position: fixed;
    top: -10;
    right: -250px; /* Set the initial position to hide the menu to the right */
    width: 250px;
    height: 10%;
    background-color: #333;
    color: #fff;
    transition: right 0.3s ease;
    z-index: 10;
}
.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 10px 20px;
}

.side-menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* Content area styles */
.content {
    padding: 20px;
    text-align: center;
}


.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height:min-content;
    display: block;
    filter: brightness(.5)
}

/* Style the text overlay */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
}

.hero_h1 {
    font-size: 32px !important;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    line-height: 1.2;
    text-transform: inherit;
    letter-spacing: inherit;
}

.hero_p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .hero_h1 {
        font-size: 24px !important; /* Adjust the font size as needed for smaller screens */
    }

    .hero_p {
        font-size: 16px; /* Adjust the font size as needed for smaller screens */
    }
}

button{
    background-color: rgb(92, 78, 102);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.altColor {
	background-color: red;
}

.second_img{
    width: 100%;
	height: 150px; 
	object-fit: cover;
	object-position: 25% 40%; 
}

.third_img{
    width: 100%;
    height: calc((100vw - 48px)/1);
	border-radius: 0px;
    aspect-ratio: 1/1;
    margin-bottom: 32px;
    vertical-align: middle;
    margin-right:auto;
    margin-left: auto;
    max-width: 100%;
    display: inline-block;

}

/* Footer mail inputs */
.name_input,
.email_input,
.message_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.message_input {
    resize: vertical;
    height: 150px; /* Adjust the height as needed */
}

button[type="submit"] {
    background-color: rgb(92, 78, 102);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #333;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

/* Increase the icon size and remove text decoration */
.social-iconF,
.social-iconL {
    font-size: 36px; /* Adjust the size as needed */
    margin: 0 20px; /* Add margin to separate the icons */
    text-decoration: none;
}

/* Apply specific colors to Facebook and LinkedIn icons */
.social-iconF {
    color: #4267B2;
}

.social-iconL {
    color: #0077B5;
}

p a{
    color: #000;
    text-align: center;
    vertical-align: middle;
}
