html{
	margin: 0px;
	padding: 0px;
	border: 0px;
	left: 0px;
	top: 0px;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* To prevent horizontal scrollbar */
}


h1{
    color: rgb(92, 78, 102);
    text-align: center;
    font-size : 32px;
    font-weight: 900;
    font-family: 'League Spartan', arial, helvetica, sans-serif;
}

h4{
    text-align: center;
    margin-bottom: 0px;
    color: rgb(27, 27, 27);
    width: inherit;
    line-height: 1.25;
    font-weight: 400;
    font-size: 22px;
    word-wrap: break-word;
    font-family: Helvetica, arial, sans-serif;
    letter-spacing: normal;
}

/* Sticky header styles */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header{
	color:white;
    background-color: transparent;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    word-wrap: break-word;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    display: inline-block;
    overflow-wrap: break-word;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform : none;
    letter-spacing: normal;

}

/* Menu toggle button styles */
.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    position: fixed; /* Add this line */
    right: 10px;    /* Add this line to position it to the right */
    top: 10px;      /* Add this line for vertical positioning */
}

/* Side menu styles */
.side-menu {
    position: fixed;
    top: -7;
    right: -250px; /* Set the initial position to hide the menu to the right */
    width: 250px;
    height: 12%;
    background-color: #333;
    color: #fff;
    transition: right 0.3s ease;
    z-index: 10;
}
.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu li {
    padding: 10px 20px;
}

.side-menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* hero related stuff */
.hero {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 700px; /* Default height */
    display: block;
    filter: brightness(0.5);
}

@media (max-width: 768px) {
    /* Adjust the height for smaller screens */
    .hero img {
        height: 400px;
    }
}


/* Style the text overlay */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
}

.hero_h1 {
    font-size: 32px !important;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    line-height: 1.2;
    text-transform: inherit;
    letter-spacing: inherit;
}

.hero_p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .hero_h1 {
        font-size: 24px !important; /* Adjust the font size as needed for smaller screens */
    }

    .hero_p {
        font-size: 16px; /* Adjust the font size as needed for smaller screens */
    }
}

button{
    background-color: rgb(92, 78, 102);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}




/* Default styles for the container */
.h2-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Add spacing between service divs */
    justify-content: space-between; /* Distribute items evenly along the row */
}

/* Styles for individual service divs */
.service {
    flex-basis: calc(50% - 20px); /* Two services per line with gap */
    margin-bottom: 20px; /* Add vertical spacing between services */
    text-align: center; /* Center-align the content within service divs */
    padding: 10px; /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in width calculation */
}


/* Styles for h2 elements */
.service h2 {
    margin: 0;
    margin-bottom: 20px;
}

/* Styles for associated p elements */
.service p {
    margin: 0;
}

/* Media query for screens smaller than a certain width (adjust max-width as needed) */
@media (max-width: 768px) {
    .h2-container {
        flex-direction: column; /* Stack items vertically */
    }

    .service {
        flex-basis: 100%; /* Full width for service divs when screen is narrow */
    }
}

.second_img{
    width: 100%;
	height: 200px; 
	object-fit: cover;
	object-position: 25% 40%; 
}
/* Content area styles */
.about_me {
    padding: 20px;
    text-align: center;
}

.about_me_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third_img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.about_me_title {
    text-align: left;
}

.about_me_text {
    text-align: left;
}

@media (min-width: 768px) {
    .about_me_content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    .third_img {
        max-width: 40%;
        margin-right: 20px;
    }
}




.contact_form{
    background-color:rgb(214, 214, 214, 0.2) ;
}
/* Footer mail inputs */
.name_input,
.email_input,
.message_input {
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.message_input {
    resize: vertical;
    height: 150px; /* Adjust the height as needed */
}

button[type="submit"] {
    background-color: rgb(92, 78, 102);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #333;
}

.social-icons {
    margin-top: 20px;
    text-align: center;
}

/* Increase the icon size and remove text decoration */
.social-iconF,
.social-iconL {
    font-size: 36px; /* Adjust the size as needed */
    margin: 0 20px; /* Add margin to separate the icons */
    text-decoration: none;
}

/* Apply specific colors to Facebook and LinkedIn icons */
.social-iconF {
    color: #4267B2;
}

.social-iconL {
    color: #0077B5;
}

p a{
    color: #000;
    text-align: center;
    vertical-align: middle;
}
